
<div class="table-wrapper">
<ascend-loader [loading]="tablesLoading()" />
@if (selectedView() != 'drag') {
  <tables-header [selectedView]="selectedView()" (onViewChange)="handleViewChange($event)" (searchTerm)="onSearchTerm($event)"/>
}

@if (tables().length === 0) {
  <div class="no-tables-message">
    <p>{{ 'tables.no-tables-first-part' | translate }}</p>
    <div>
      <p>{{ 'tables.no-tables-second-part' | translate }}&nbsp;</p>
      <a href="/test"><p>{{ 'tables.no-tables-third-part' | translate }}&nbsp;</p></a>
      <p>{{ 'tables.no-tables-fourth-part' | translate }}</p>
    </div>
  </div>
}
@else {
  <div [ngClass]="{'display-tables': selectedView() !== 'drag', 'display-tables-grid': selectedView() == 'drag'}">
  @if (selectedView() === 'table') {
    <table-view [dataSource]="tables()" (clickedTableId)="onClickTable($event)"  />
  }
  @else if (selectedView() === 'grid') {
    <grid-view [dataSource]="tables()" (clickedTableId)="onClickTable($event)" />
  }
  @else {
    <drag-view [dataSource]="tables()" (clickedTableId)="onClickTable($event)"    />
  }
  </div>
}
</div>