@use "variables" as vars;

.title {
  color: vars.$primary-font-color;
  font-size: vars.$title-font-size;
}

.selected-header-item {
  color: #6c63ff !important;
}
.clickable-item {
  cursor: pointer;
}


.tables-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .grid-buttons {
    margin-left: 1.5em;
  }
  .left-part {
    display: flex;
    align-items: center;
  }
}

.toggle-buttons {
  padding: .2em;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  button {
    background-color: vars.$white-color;
    border: 0;
    padding: .5em;
    font-size: 1rem;
    cursor: pointer;
  }
  button:hover {
    background-color: #737387;
  }
}

.search-bar {
  margin-right: 1.5em;
}