
<div class="table-wrapper">
<ascend-loader [loading]="tablesLoading()" />
<!-- <div class="tables-header" [ngClass]="{'floating-header': selectedView() == 'drag'}">
  <div class="left-part">
    <div class="title">{{ "tables.title" | translate }}</div>
    <div class="grid-buttons">
      <mat-icon
        ><span
          [ngClass]="{ 'selected-header-item': selectedView() === 'table' }"
          (click)="handleViewChange('table')"
          class="clickable-item"
          >table_view</span
        ></mat-icon
      >
      <mat-icon
        ><span
          [ngClass]="{ 'selected-header-item': selectedView() === 'grid' }"
          (click)="handleViewChange('grid')"
          class="clickable-item"
          >grid_view</span
        ></mat-icon
      >
      <mat-icon
        ><span
          [ngClass]="{ 'selected-header-item': selectedView() === 'drag' }"
          (click)="handleViewChange('drag')"
          class="clickable-item"
          >move_up</span
        ></mat-icon
      >
    </div>
  </div>

  @if (selectedView() !== 'drag') {
    <div class="search-container">
      <ascend-search-bar  (onSearchTerm)="onSearchTerm($event)" />
    </div>
  }
</div> -->

@if (selectedView() != 'drag') {
  <tables-header [selectedView]="selectedView()" (onViewChange)="handleViewChange($event)" (searchTerm)="onSearchTerm($event)"/>
}

@if (tables().length === 0) {
  <div class="no-tables-message">
    <p>{{ 'tables.no-tables-first-part' | translate }}</p>
    <div>
      <p>{{ 'tables.no-tables-second-part' | translate }}&nbsp;</p>
      <a href="/test"><p>{{ 'tables.no-tables-third-part' | translate }}&nbsp;</p></a>
      <p>{{ 'tables.no-tables-fourth-part' | translate }}</p>
    </div>
  </div>
}
@else {
  <div [ngClass]="{'display-tables': selectedView() !== 'drag', 'display-tables-grid': selectedView() == 'drag'}">
  @if (selectedView() === 'table') {
    <table-view [dataSource]="tables()" (clickedTableId)="onClickTable($event)"  />
  }
  @else if (selectedView() === 'grid') {
    <grid-view [dataSource]="tables()" (clickedTableId)="onClickTable($event)" />
  }
  @else {
    <drag-view [dataSource]="tables()" (clickedTableId)="onClickTable($event)"    />
  }
  </div>
}
</div>