@use "variables" as vars;

.table-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; 
  width: 100%;
}

.no-tables-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  color: vars.$primary-font-color;
  font-size: 1.2rem;
  div {
    display: flex;
  }
}

.display-tables-grid {
  height: 100% !important;
  overflow-y: scroll;
}

.display-tables {
  overflow-y: scroll;
  flex: 1 1 auto;
}

@media (max-width: 599px) {
  .display-tables {
    overflow-y: scroll;
    flex: 1 1 auto;
  }
}

@media (min-width: 769px) and (max-width: 1279px) {
  .display-tables {
    flex: 1 1 auto;
    overflow-y: scroll;
  }
}
