<div class="dialog-wrapper">
<ascend-loader [loading]="loading()" />


<h2 mat-dialog-title class="dialog-title">{{ this.title() }}</h2>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="dialog-form">
  <div class="form-inputs">
    <div>
      @if(errorMessages().includes('name.exists')) {
      <div class="error-message">
        <mat-icon>error</mat-icon>
        <span>{{ 'menu.products.name-exists' | translate }}</span>
      </div>
      }
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'menu.products.name' | translate }}</mat-label>
        <input
          matInput
          formControlName="name"
          required
          (input)="onInputChange('name.exists')"
          [readonly]="canUpdate() === false && isUpdateDialog()"
        />
      </mat-form-field>

      @if(errorMessages().includes('code.exists')) {
      <div class="error-message">
        <mat-icon>error</mat-icon>
        <span>{{ 'menu.products.code-exists' | translate }}</span>
      </div>
      }
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'menu.products.code' | translate }}</mat-label>
        <input
          matInput
          formControlName="code"
          (input)="onInputChange('code.exists')"
          [readonly]="canUpdate() === false && isUpdateDialog()"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'menu.products.price' | translate }}</mat-label>
        <input type="number" matInput formControlName="price" required [readonly]="canUpdate() === false && isUpdateDialog()" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'menu.products.tax' | translate }}</mat-label>
        <mat-select formControlName="tax" [disabled]="canUpdate() === false && isUpdateDialog()">
          @for (tax of this.taxes(); track tax.id) {
          <mat-option [value]="tax.id" selected>{{ tax.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- @if (categories().length) { -->
            <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'menu.products.category' | translate }}</mat-label>
        <mat-select formControlName="category" [disabled]="canUpdate() === false && isUpdateDialog()">
          @for (category of this.categories(); track category.id) {
          <mat-option [value]="category.id" selected>{{ category.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <!-- } -->

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'menu.products.description' | translate }}</mat-label>
        <textarea matInput formControlName="description" [readonly]="canUpdate() === false && isUpdateDialog()"></textarea>
      </mat-form-field>

      <!-- @if (isUpdateDialog()){
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'menu.products.discountpercent' | translate }}</mat-label>
          <input
            matInput
            type="number"
            formControlName="discountPercent"
            [readonly]="canUpdate() === false && isUpdateDialog()"
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'menu.products.discountamount' | translate }}</mat-label>
          <input
            matInput
            type="number"
            formControlName="discountAmount"
            [readonly]="canUpdate() === false && isUpdateDialog()"
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'menu.products.reason' | translate }}</mat-label>
          <input
            matInput
            formControlName="reason"
            [readonly]="canUpdate() === false && isUpdateDialog()"
          />
        </mat-form-field>
      } -->
    </div>

    <div>
      <div class="full-width upload-container">
        <span>{{ 'menu.products.image' | translate }}</span>
        <ascend-upload-image
          (uploadEvent)="onUpload($event)"
          (deleteEvent)="onDeleteImage()"
          [imageUrl]="
            imageUrl() && imageUrl()?.trim() !== ''
              ? 'http://localhost:5073' + imageUrl()
              : null
          "
        />
      </div>
    </div>
  </div>

  <div class="actions">
    @if (isUpdateDialog() && canDelete()) {
    <button
      type="button"
      mat-icon-button
      color="warn"
      [ariaLabel]="'shared.delete-item' | translate"
      class="trash-btn"
      (click)="onDelete()"
    >
      <mat-icon>delete</mat-icon>
    </button>
    }
    <button mat-button type="button" (click)="dialogRef.close()">{{ 'shared.discard' | translate }}</button>
    @if (!isUpdateDialog() || canUpdate()) {
      <ascend-button
        type="primary"
        [label]="submitBtnLabel()"
        [disabled]="productForm.invalid"
      />
    }
  </div>
</form>
</div>
