<div class="dialog-wrapper">
<ascend-loader [loading]="loading()" />


<h2 mat-dialog-title class="dialog-title">{{ this.title() }}</h2>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="dialog-form">
  <div class="form-inputs">
    <div>
      @if(errorMessages().includes('name.exists')) {
      <div class="error-message">
        <mat-icon>error</mat-icon>
        <span>Product with that name already exists.</span>
      </div>
      }
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Product Name</mat-label>
        <input
          matInput
          formControlName="name"
          required
          (input)="onInputChange('name.exists')"
        />
      </mat-form-field>

      @if(errorMessages().includes('code.exists')) {
      <div class="error-message">
        <mat-icon>error</mat-icon>
        <span>Product with that code already exists.</span>
      </div>
      }
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Code</mat-label>
        <input
          matInput
          formControlName="code"
          (input)="onInputChange('code.exists')"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Price</mat-label>
        <input type="number" matInput formControlName="price" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Tax</mat-label>
        <mat-select formControlName="category" [compareWith]="compareWith">
          @for (category of categories(); track category.id) {
          <mat-option [value]="category">{{ category.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- @if (categories().length) { -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Categories</mat-label>
        <mat-select formControlName="category" [compareWith]="compareWith">
          @for (category of categories(); track category.id) {
          <mat-option [value]="category">{{ category.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <!-- } -->

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description (optional)</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      @if (isUpdateDialog()) {
        <mat-form-field appearance="fill" class="full-width">
        <mat-label>Discount</mat-label>
        <input type="number" matInput formControlName="discount" />
      </mat-form-field>
      }
    </div>

    <div>
      <div class="full-width upload-container">
        <span>Прикачи слика (optional)</span>
        <ascend-upload-image
          (uploadEvent)="onUpload($event)"
          (deleteEvent)="onDeleteImage()"
          [imageUrl]="
            imageUrl() && imageUrl()?.trim() !== ''
              ? 'http://localhost:5073' + imageUrl()
              : null
          "
        />
      </div>
    </div>
  </div>

  <div class="actions">
    @if (isUpdateDialog()) {
    <button
      type="button"
      mat-icon-button
      color="warn"
      aria-label="Delete item"
      class="trash-btn"
      (click)="onDelete()"
    >
      <mat-icon>delete</mat-icon>
    </button>
    }
    <button mat-button type="button" (click)="dialogRef.close()">Откажи</button>
    <ascend-button
      type="primary"
      [label]="submitBtnLabel()"
      [disabled]="productForm.invalid"
    />
  </div>
</form>
</div>