<ascend-loader [loading]="loading()" />
<h2 mat-dialog-title class="dialog-title">{{ this.title() }}</h2>

<form [formGroup]="categoryGroupForm" (ngSubmit)="onSubmit()" class="dialog-form">
  <div class="form-inputs">
    <div>
      @if(errorMessages().includes('name.exists')) {
      <div class="error-message">
        <mat-icon>error</mat-icon>
        <span>{{ 'menu.category-groups.name-exists' | translate }}</span>
      </div>
      }
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'menu.category-groups.name' | translate }}</mat-label>
        <input matInput formControlName="name" required [readonly]="canUpdate() === false && isUpdateDialog()" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'menu.category-groups.description' | translate }}</mat-label>
        <textarea matInput formControlName="description" [readonly]="canUpdate() === false && isUpdateDialog()"></textarea>
      </mat-form-field>

    @if (this.categories()) {
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'menu.category-groups.categories' | translate }}</mat-label>
        <mat-select formControlName="selectedCategories" multiple [disabled]="canUpdate() === false && isUpdateDialog()">
          <mat-select-trigger>
            {{ getSelectedCategoriesControl().value ? getCategoryName(getSelectedCategoriesControl().value[0]) : '' }}
            @if ((getSelectedCategoriesControl().value?.length || 0) > 1) {
              <span class="additional-selection">
                (+{{ (getSelectedCategoriesControl().value?.length || 0) - 1 }}
                {{ getSelectedCategoriesControl().value?.length === 2 ? "'shared.other | translate'" : "'shared.others | translate'" }})
              </span>
            }
          </mat-select-trigger>
          @for (category of this.categories(); track category.id) {
            <mat-option [value]="category.id">{{ category.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
    </div>
    <div>
      <div class="full-width upload-container">
        <span>{{ 'menu.category-groups.image' | translate }}</span>
        <ascend-upload-image
          (uploadEvent)="onUpload($event)"
          [imageUrl]="
            imageUrl() && imageUrl()!.trim() !== ''
              ? 'http://localhost:5073' + imageUrl()
              : null
          "
        />
      </div>
    </div>
  </div>
  
  <div class="actions">
    @if (isUpdateDialog() && canDelete()) {
    <button
      type="button"
      mat-icon-button
      color="warn"
      [ariaLabel]="'shared.delete-item | translate'"
      class="trash-btn"
      (click)="onDelete()"
    >
      <mat-icon>delete</mat-icon>
    </button>
    }
    <button mat-button type="button" (click)="dialogRef.close()">{{ 'shared.discard' | translate }}</button>
    @if (!isUpdateDialog() || canUpdate()) {
      <ascend-button
        type="primary"
        [label]='submitBtnLabel()'
        [disabled]="categoryGroupForm.invalid"
      />    
    }    
  </div>
</form>
