.data-list {
    list-style: none;
    padding-bottom: .5em;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: auto;  /* Enable horizontal scrolling */
    gap: 1em;  /* Add spacing between the items */
    -webkit-overflow-scrolling: touch;

    -ms-overflow-style: none; 
    scrollbar-width: none;  
    
    ::-webkit-scrollbar {
        display: none;  
    }


    li {
        box-sizing: border-box;
        background-color: #89AC46;  /* A solid green color for better visibility */
        color: #fff;
        width: 95%;
        padding: 1.1em .5em;
        font-size: 1.3rem;
        text-align: center;
        align-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 1.5em;
        flex-shrink: 0;  /* Prevent shrinking of list items */
        transition: background-color 0.3s ease, transform 0.2s ease;

        &:hover {
            background-color: #89AC46;  /* Darker green on hover */
        }
    }

    .selected-li {
        color: white;
        font-weight: bold;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }
}
