ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        background: linear-gradient(135deg, #6c63ff, #a29bfe);
        color: #fff;
        padding: 1.5em;
        margin-bottom: .5em;
        font-size: 1.2rem;
        text-align: center;
        cursor: pointer;
        // transition: background 0.3s ease, transform 0.2s ease;

        // &:hover {
        //     background: linear-gradient(135deg, #5a52e0, #8d84ff);
        //     transform: scale(1.05);
        // }
    }
    .selected-li {
        background: linear-gradient(135deg, #ff8a00, #ff3d00); // Different color for selection
        color: white;
        font-weight: bold;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
    }
}