@use "variables" as vars;

$card-min-width: 150px;

.product-wrapper {
  height: 100%;
}
.products-display {
  display: grid;
  width: 100%;
  gap: .5em;
  // padding: 0 2em;
  // margin: 2rem auto;
  box-sizing: border-box;

  // Fluid columns: grow to fill, but never below your min width
  grid-template-columns: repeat(auto-fit, minmax($card-min-width, 1fr));
}

.product-card {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
  border: 2px solid #89ac46;
  border-radius: 5px;
  background-color: rgba($color: #89ac46, $alpha: 0.2);
  .product-details {
    display: flex;
    justify-content: space-between;
  }
}

.product-name {
  font-size: 1.1rem;
}