<!-- <div class="products-wrapper">
  <div class="products-header"></div>
  <div class="products-display">
    @for(product of products(); track product.id; let idx = $index) {
    <div class="product-card" [ngClass]="{ active: idx == 0 }" (click)="onSelectProduct(product)">
      <div class="card-header">
        <span class="card-title">{{ product.name }}</span>
        <span class="card-code">#{{ product.code }}</span>
      </div>
      <div class="middle">
        <div class="price">{{ product.price }}$</div>
      </div>
      <div class="footer">
        <div class="card-category">Пијалоци</div>
        @if (product.discount) {
        <div class="discount">Discount: {{ product.discount }}%</div>
        }
        @else {
          <div></div>
        }
      </div>
    </div>
    }
  </div>
</div> -->

<div class="products-wrapper">
  <div class="products-header"></div>
  <div class="products-display" #productsContainer tabindex="0">
    @if (!loading() && products.length == 0) {
    <p class="no-data-msg">No products have been found</p>
    }
    @if (loading()){
    <div class="skeleton-rect"></div>
    <div class="skeleton-rect"></div>
    <div class="skeleton-rect"></div>
    <div class="skeleton-rect"></div>
    <div class="skeleton-rect"></div>
    } @else { @for(product of products; track product.id; let idx = $index) {
    <div
      class="product-card"
      [ngClass]="{
        active:
          selectedProduct()?.id === product.id ||
          (selectedProduct() == null && idx == 0)
      }"
      (click)="onSelectProduct(product)"
    >
      <div class="title">
        <span>{{ product.name }}</span
        ><span>{{ product.code }}</span>
      </div>
      <div class="price">
        {{ product.price }}
      </div>
    </div>
    } }
  </div>
</div>
