<div class="items-list">
  <table class="order-items-table">
    <thead>
      <tr>
        <th>{{ 'ordered-items.no' | translate}}</th>
        <th>{{ 'ordered-items.code' | translate}}</th>
        <th>{{ 'ordered-items.name' | translate}}</th>
        <th>{{ 'ordered-items.quantity' | translate}}</th>
        <th>{{ 'ordered-items.price' | translate}}</th>
        <th>{{ 'ordered-items.total' | translate}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (item of tableItems(); track item.id; let i = $index){
      <tr>
        <td>{{ i + 1 }}</td>
        <td></td>
        <td>{{ item.productName }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.product.price }}</td>
        <td>{{ item.totalGrossPrice }}</td>
        <td><mat-icon>delete</mat-icon></td>
      </tr>
      }
    </tbody>
  </table>
</div>