<ascend-loader [loading]="loading()" />
<!-- <h2 mat-dialog-title class="dialog-title">{{ title() }}</h2> -->
<div class="content">
  <div class="header">
    <h2 class="title">Tax Details</h2>
  </div>
  <div class="body">
    <form [formGroup]="taxForm" (ngSubmit)="onUpdate(this.id())" class="dialog-form">
      <span class="title">Current Tax</span>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tax Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter tax name" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tax Percentage</mat-label>
        <input matInput type="number" formControlName="percentage" min="0" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Reason</mat-label>
        <textarea
          #qtyInput
          matInput
          type="text"
          formControlName="reason"
          (keydown.enter)="onUpdate(this.id())"
        ></textarea>
      </mat-form-field>

      <div class="actions">
        <button
          type="button"
          mat-icon-button
          color="warn"
          aria-label="Delete item"
          class="trash-btn"
          (click)="onDelete()"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <ascend-button
          type="primary"
          [label]="'Update'"
          [disabled]="taxForm.invalid"
        />
      </div>
    </form>

    <div class="tax-history">
      <div class="tax-history-table">
        <ascend-table
          [dataRows]="dataRows()"
          [displayedColumns]="[
            'Percentage',
            'Changed At',
            'Changed By',
            'Reason'
          ]"
          [title]="'History of Tax Changes'"
          [hasAddBtn]="false"
          [hasSearchBar]="false"
        />
        @if (dataRows().length == 0) {
        <p>No history for that tax.</p>
        }
      </div>
    </div>
  </div>
</div>
