<!-- <div class="header">
    <h1>Categories</h1>
    <ascend-button type="primary" label="Додади" icon="add" (clickEvent)="onAddCategory()" />
</div> -->

<div class="container">
    <div class="list-container">
        <ascend-display-list [elements]="categoryGroupElements()"
                             (selectedEvent)="onSelectedCategoryGroup($event)"
                             (addEvent)="onAddGroupCategory()"
                             (deleteEvent)="onDeleteCategoryGroup($event)"
                             noDataLabel="Create your first category group!" />
    </div>
    <div class="cards-container">
        <div class="cards-header">
            <div class="left-part">
                @if (selectedCategoryGroup()){
                    <span class="categories-title">{{ selectedCategoryGroup()!.name }}</span>
                }@else {
                    <span class="categories-title">All Categories</span>
                }
                <ascend-header-counter [value]="categories().length" />
            </div>
            <div class="right-part">
                <button mat-fab extended color="ascend" class="add-category-btn" (click)="onAddCategory()">
                    <mat-icon>add</mat-icon>
                    Категорија
                </button>
                <!-- <ascend-button type="primary" label="Додади категорија" class="add-category-btn"/> -->
                <ascend-search-bar (onSearchTerm)="onSearchCategory($event)" />
            </div>
        </div>
        @if (categories().length) {
            <ascend-display-cards [elements]="categoryCards()" (selectedId)="onUpdateCategory($event)"/>
        } @else {
            <span class="no-categories-message">You haven't added any categories yet. Start by creating a new one!</span>
        }
    </div>
</div>