<div class="container">
  <div class="list-container">
    <div class="sidebar-header">
      <p class="title title-sidebar-list">Група на категории</p>
    </div>
    <ascend-display-list
      [elements]="categoryGroupElements()"
      selectAllButtonLabel="Сите категории"
      (selectedEvent)="onSelectedCategoryGroup($event)"
      [setDeleteButton]="false"
      [setSelectAllButton]="false"
      [isLoading]="categoryGroupsLoading()"
    />
  </div>
  <div class="cards-container">
    <div class="cards-header">
      <div class="left-part">
        @if (selectedCategoryGroup()){
        <span class="title">Categories > {{ selectedCategoryGroup()!.name }}</span>
        }@else {
        <span class="title">Category > All Categories</span>
        }
        <ascend-header-counter [value]="categories().length" />
      </div>
      <div class="right-part">
        <button
          mat-fab
          extended
          color="ascend"
          class="add-btn"
          (click)="onAddCategory()"
        >
          <mat-icon>add</mat-icon>
          Category
        </button>

        <ascend-search-bar (onSearchTerm)="onSearchCategory($event)"  />
      </div>
    </div>
    @if (categoryCards().length) {
      <ascend-display-cards
      [loading]="categoryLoading()"
      (selectedCard)="onUpdateCategory($event)"
      [elements]="categoryCards()"
    />
    } @else {
      <p class="no-data-message">No categories have been found</p>
    }
  </div>
</div>