@use 'variables' as vars;

.header {
    display: flex;
    justify-content: space-between;
}

.container {
    display: grid;
    grid-template-columns: auto 4fr;
    // gap: 10px;
    // div {
    //     border: 1px solid rgba(0, 0, 0, 0.12);;
    // }

    .cards-container {
        display: flex;
        flex-direction: column;
    }

    .list-container {
        border-right: 1px solid rgba(0, 0, 0, 0.15);
        margin-top: .5em;
    }

    .cards-header {
        // #6c63ff, #a29bfe
        // background-color: #a29bfe;
        width: 95%;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid rgba(0, 0, 0, 0.15);
        // background: linear-gradient(to right, #dbeafe, #bfdbfe, #93c5fd);

        .right-part, .left-part {
            display: flex;
            align-items: center;
        }
        .categories-title {
            font-size: 2rem;
            color: vars.$primary-font-color;
        }
        .add-category-btn {
            margin-right: 1em;
        }
    }
}


.mat-ascend {
    background-color: #6c63ff;
    color: #fff;
    font-size: 1rem;
}