<div class="container">
  <div class="list-container">
    <div class="sidebar-header">
      <p class="title title-sidebar-list">Категории</p>
    </div>
    <ascend-display-list
      [elements]="categoryListElements()"
      selectAllButtonLabel="Сите категории"
      (selectedEvent)="onSelectCategory($event)"
      [setDeleteButton]="false"
      [setSelectAllButton]="false"
      [isLoading]="categoriesLoading()"
    />
  </div>
  <div class="cards-container">
    <div class="cards-header">
      <div class="left-part">
        @if (selectedCategory()){
        <span class="title">Продукти > {{ selectedCategory()!.name }}</span>
        }@else {
        <span class="title">Продукти > Сите продукти</span>
        }
        <ascend-header-counter [value]="products().length" />
      </div>
      <div class="right-part">
        <button
          mat-fab
          extended
          color="ascend"
          class="add-btn"
          (click)="onAddProduct()"
        >
          <mat-icon>add</mat-icon>
          Продукт
        </button>

        <ascend-search-bar (onSearchTerm)="onSearchProducts($event)"  />
      </div>
    </div>
    @if (productCards().length) {
      <ascend-display-cards
      [loading]="productsLoading()"
      (selectedCard)="onProductedit($event)"
      [elements]="productCards()"
    />
    } @else {
      <p class="no-data-message">No products have been found</p>
    }
  </div>
</div>
