<div
  [ngClass]="{
    'container-pc': breakpointService.isDesktop(),
    'container-tablet':
      breakpointService.isTablet() ||
      breakpointService.isMobile() ||
      breakpointService.isHandsetLandscape()
  }"
>
  @if(breakpointService.isDesktop()){
  <div class="list-container">
    <div class="sidebar-header">
      <p class="title title-sidebar-list">Categories</p>
    </div>
    <ascend-display-list
      [elements]="categoryListElements()"
      selectAllButtonLabel="Сите категории"
      (selectedEvent)="onSelectCategory($event)"
      [setDeleteButton]="false"
      [setSelectAllButton]="false"
      [isLoading]="categoriesLoading()"
      [setSelectAllButton]="true"
      [selectAllButtonLabel]="'All Categories'"
    />
  </div>
  }
  <div class="cards-container">
    <div class="cards-header">
      <div class="left-part">
        @if (selectedCategory()){
        <span class="title"
          >Products >
          <span
            class="select-category"
            (click)="onOpenCategorySelectDialog()"
            >{{ selectedCategory()!.name }}</span
          ></span
        >
        }@else {
        <span class="title"
          >Products >
          <span class="select-category" (click)="onOpenCategorySelectDialog()"
            >All Products</span
          ></span
        >
        }
        @if (!breakpointService.isHandsetLandscape() && !breakpointService.isMobile()) {
          <ascend-header-counter [value]="products().length" />
        }
      </div>
      <div class="right-part">
        <button
          mat-fab
          extended
          color="ascend"
          class="add-btn"
          (click)="onAddProduct()"
        >
          <mat-icon>add</mat-icon>
          Product
        </button>
        <ascend-search-bar (onSearchTerm)="onSearchProducts($event)" class="search-bar"/>
      </div>
    </div>
    <div class="cards-layout">
      @if (productCards().length) {
      <ascend-display-cards
        [loading]="productsLoading()"
        (selectedCard)="onProductedit($event)"
        [elements]="productCards()"
      />
      } @else {
      <p class="no-data-message">No products have been found</p>
      }
    </div>
  </div>
</div>
