<div
  [ngClass]="{
    'container-pc': breakpointService.isDesktop(),
    'container-tablet':
      breakpointService.isTablet() ||
      breakpointService.isMobile() ||
      breakpointService.isHandsetLandscape()
  }"
>
  @if(breakpointService.isDesktop()){
  <div class="list-container">
    <div class="sidebar-header">
      <p class="title title-sidebar-list">{{ 'menu.categories.categories' | translate }}</p>
    </div>
    <ascend-display-list
      [elements]="categoryListElements()"
      (selectedEvent)="onSelectCategoryId($event)"
      [setDeleteButton]="false"
      [setSelectAllButton]="false"
      [isLoading]="categoriesLoading()"
      [setSelectAllButton]="true"
      [selectAllButtonLabel] = "'menu.categories.all-categories' | translate"
    />
  </div>
  }
  <div class="cards-container">
    <div class="cards-header">
      <div class="left-part">
        <span class="title">{{ 'menu.products.products' | translate }}</span>
        @if (!breakpointService.isHandsetLandscape() && !breakpointService.isMobile()) {
          <ascend-header-counter [value]="products().length" />
        }
      </div>
      <div class="right-part">
        @if (canCreate()){
                  <button
          mat-fab
          extended
          color="ascend"
          class="add-btn"
          (click)="onAddProduct()"
        >
          <mat-icon>add</mat-icon>
          {{ 'menu.products.product' | translate }}
        </button>
        }
        <ascend-search-bar (onSearchTerm)="onSearchProducts($event)" class="search-bar"/>
      </div>
    </div>
    <div class="cards-layout">
      @if (productCards().length) {
      <ascend-display-cards
        [loading]="productsLoading()"
        (selectedCard)="onProductEdit($event)"
        [elements]="productCards()"
      />
      } @else {
      <p class="no-data-message">{{ 'menu.products.no-products-found' | translate }}</p>
      }
    </div>
  </div>
</div>
