<!-- <div class="dialog-container">
    <div class="orders">
      <div class="orders-header">
        <h3 class="title">Продукти</h3>
        <div class="orders-filter">
          <select class="category-select">
            <option defaultSelected>Сите</option>
            <option>Пијалоци</option>
            <option>Доручеци</option>
            <option>Десерти</option>
          </select>
          <ascend-search-bar class="search-bar" />
        </div>
      </div>
      <ul>
        @for (order of orders(); track order.id; let i = $index) {
            <li>
              Lorem ipsum dolor sit amet.
            </li>
        }
      </ul>
    </div>

        <div class="products">
      <div class="products-header">
        <h3 class="title">Маса 2</h3>
      </div>

      <tables-order-items [order]="selectedOrder()!"/>

      <div class="product-list-footer">
          <div class="price-label">
            Вкупно: {{ selectedOrder()?.totalPrice }}
          </div>
          <div>
            <button class="delete-order-btn">Избриши нарачка</button>
          </div>
      </div>

    </div>

    <div class="footer">
      <button class="primary-btn">Сметка</button> 
      <button class="default-btn">Откажи</button>
    </div>
  </div> -->


  <div class="dialog-container">
  
    <div class="orders">
      <display-products  />
    </div>

      <div class="products">
      <div class="products-header">
        <h3 class="title">Маса 2</h3>
      </div>

      <tables-order-items [tableItems]="tableItems()"/>

      <div class="product-list-footer">
          <div class="price-label">
            Вкупно: 1234
          </div>
          <div>
            <button class="delete-order-btn">Избриши нарачка</button>
          </div>
      </div>

    </div>

    <div class="footer">
      <button class="primary-btn">Сметка</button> <!-- Add these classes to global file -->
      <button class="default-btn">Откажи</button>
    </div>
  </div>