<div class="wrapper">
    <div class="container">
        <div class="item item-categories">
            <div class="item-header-categories">
                <span class="header-label">Категории</span>
            </div>
            <display-list [categories]="categories()" (selectedCategoryEvent)="onSelectCategory($event)" />
        </div>
        <div class="item item-products">
            <div class="item-header-products">
                <div class="search-container">
                    <input type="text" placeholder="Пребарај продукт..." class="search-input">
                    <button mat-icon-button class="search-btn">
                      <mat-icon>search</mat-icon>
                    </button>
                </div>
                <div class="products">
                    @if (productCards().length) {
                        <ascend-display-cards  [elements]="productCards()" (selectedId)="onSelectProduct($event)" />
                    }@else {
                        <p class="no-data-message">Нема продукти за оваа категорија</p>
                    }
                </div>
            </div>

        </div>
        <div class="item order-items-wrapper">
            <div>
                <div class="order-item-list-wrapper">
                    <ul class="order-items-list">
                        @for (item of tableItems(); track item.id) {
                            <li>
                                <div class="order-item-container">
                                    <span>{{ item.product.name }}</span>
                                    <span class="quantity">
                                        <button class="quantity-btn" (click)="onDecrementItemQuantity(item)">-</button>
                                        <span class="quantity-label">{{ item.quantity }}</span>
                                        <button class="quantity-btn" (click)="onIncrementItemQuantity(item)">+</button>
                                    </span>
                                    <span>{{ item.totalPrice }} MKD</span>
                                    <mat-icon class="remove-order-item-btn" (click)="onRemoveItem(item.id)">close</mat-icon>
                                </div>
                            </li>
                        }
                        <!-- <li>
                            <div class="order-item-container">
                                <span>Омлет</span>
                                <span class="quantity">
                                    <button class="quantity-btn">+</button>
                                    <span class="quantity-label">2</span>
                                    <button class="quantity-btn">-</button>
                                </span>
                                <span>100 MKD</span>
                                <mat-icon class="remove-order-item-btn">close</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="order-item-container">
                                <span>Омлет</span>
                                <span class="quantity">
                                    <button class="quantity-btn">+</button>
                                    <span class="quantity-label">2</span>
                                    <button class="quantity-btn">-</button>
                                </span>
                                <span>100 MKD</span>
                                <mat-icon class="remove-order-item-btn">close</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="order-item-container">
                                <span>Омлет</span>
                                <span class="quantity">
                                    <button class="quantity-btn">+</button>
                                    <span class="quantity-label">2</span>
                                    <button class="quantity-btn">-</button>
                                </span>
                                <span>100 MKD</span>
                                <mat-icon class="remove-order-item-btn">close</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="order-item-container">
                                <span>Омлет</span>
                                <span class="quantity">
                                    <button class="quantity-btn">+</button>
                                    <span class="quantity-label">2</span>
                                    <button class="quantity-btn">-</button>
                                </span>
                                <span>100 MKD</span>
                                <mat-icon class="remove-order-item-btn">close</mat-icon>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="footer">
                <div class="total-price-container">
                    <div>
                        <span class="total-label">Вкупно</span>
                        <span class="price-info">(ставки: {{ totalItems() }} количина: {{ totalQuantity() }})</span>
                    </div>
                    <div>
                        <span class="total-price">{{ this.totalPrice() }} <span class="type">MKD</span></span>
                    </div>
                </div>
                <div class="transaction-container">
                    <button class="cash-btn">Кеш</button>
                    <button class="card-btn">Картичка</button>
                    <button>Оделно плаќање</button>
                </div>
            </div>
        </div>
    </div>
      
</div>