<ascend-loader [loading]="dialogLoading()" />
<div class="container" tabindex="0">
  <div class="products">
     <!-- <span *ngIf="!editing" (click)="startEdit()" class="table-name">
        {{ tableName() }}
      </span>
      <input
        *ngIf="editing"
        [(ngModel)]="tableName"
        (blur)="finishEdit()"
        (keydown.enter)="finishEdit()"
        (focus)="codeInputFocus()" 
        (blur)="codeInputLoseFocus()"
        #editInput
      /> -->
    <div class="item-header-products">
      <div class="table-name-wrapper">
       <span *ngIf="!editing" (click)="startEdit()" class="table-name">
        {{ tableName() }}
      </span>
      @if (isTemporaryTable()) {
      <input
        *ngIf="editing"
        class="table-name"
        [(ngModel)]="tableName"
        [attr.size]="tableName().length || 1"
        (blur)="finishEdit()"
        (keydown.enter)="finishEdit()"
        (focus)="codeInputFocus()"
        #editInput
      />
      }
      </div>
      <div class="search-wrapper">
        <div class="search-container">
          <input
            type="text"
            placeholder="Пребарај продукт..."
            class="search-input"
            [formControl]="searchTerm"
            #searchInput
          />
          <button mat-icon-button class="search-btn">
            <mat-icon class="search-icon">search</mat-icon>
          </button>
          @if (searchTerm.value){
          <button mat-icon-button class="close-btn" (click)="onClearSearch()">
            <mat-icon class="close-icon">close</mat-icon>
          </button>
          }
        </div>
      </div>
    </div>
    <div class="products-content">
      <display-products
        [products]="products()"
        (selected)="onSelectCard($event)"
        [loading]="productsLoading()"
        (activeProduct)="onSelectCard($event)"
      />
    </div>
  </div>

  <div class="order-items-wrapper">
    <div class="table-items-container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Qty</th>
            <th>Total</th>
          </tr>
        </thead>
        @if (tableItemsLoading()) {
        <tbody>
          @for (x of [1, 2, 3]; track x) {
          <tr class="skeleton-row">
            <td><div class="skeleton-cell"></div></td>
            <td><div class="skeleton-cell"></div></td>
            <td><div class="skeleton-cell"></div></td>
            <td><div class="skeleton-cell"></div></td>
          </tr>
          }
        </tbody>
        } @else {
        <tbody>
          @for(item of tableItems(); track item.id; let idx = $index) {
          <tr
            (click)="onOpenItemDetails(item)"
            [ngClass]="{ 'noted-row': item.note !== null && item.note !== '' }"
          >
            <td>{{ item.productName }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.totalGrossPrice }}</td>
          </tr>

          @if (item.note !== null && item.note !== '') {
          <tr class="note-row" (click)="onOpenItemDetails(item)">
            <td class="note text-muted" colspan="4">
              <span class="note-text">
                <mat-icon class="note-icon">sticky_note_2</mat-icon>
                <p>{{ item.note }}</p>
              </span>
            </td>
          </tr>
          } }
        </tbody>
        }
      </table>
    </div>
    <div class="footer">
      <div class="price-container">
        <div class="total-price-container">
          <div>
            <span class="total-label">Вкупно</span>
            <span class="price-info"
              >(ставки: {{ totalItems() }} количина:
              {{ totalQuantity() }})</span
            >
          </div>
          <div>
            <span class="total-price"
              >{{ this.totalGrossPrice() }} <span class="type">MKD</span></span
            >
          </div>
        </div>
        <!-- <div class="calculated-prices">
          <div class="calculated-tax">
            <span>Tax:</span>
            <span>12.5$</span>
          </div>
          <div class="calculated-discount">
            <span>Discounts:</span>
            <span>0.00$</span>
          </div>
          <div class="calculated-net">
            <span>Net:</span>
            <span>112.5$</span>
          </div>
        </div> -->
      </div>
      <div class="footer-middle-part">
        <div class="assigned-user">
          <mat-icon>{{ tableStaff()?.name ? 'person_apron' : '' }}</mat-icon><span class="user">{{ tableStaff()?.name }} {{ tableStaff()?.lastName }}</span>
        </div>
        @if (!isTemporaryTable()) {
          <div class="discount-container">
          <input [disabled]="isDiscountApplied()" type="text" [(ngModel)]="discountCode" class="discount-input" placeholder="Discount code" (focus)="codeInputFocus()" (blur)="codeInputLoseFocus()"/>
          @if (!isDiscountApplied()) {
            <button matFab class="discount-button" (click)="applyDiscount(discountCode())">
              <mat-icon>redeem</mat-icon>
          </button>
          }@else {
            <button matFab class="discount-button" (click)="removeDiscount(discountCode())">
              <mat-icon>delete</mat-icon>
            </button>
          }
            </div>
        }
      </div>
      <div class="transaction-container">
        @if (isTemporaryTable()){
          <button class="submit-btn" (click)="createTemporaryTable()">Submit</button>
        }@else {
          <button class="cash-btn" (click)="createTransaction()">Cash</button>
          <button class="card-btn">Card</button>
          <button>Split Bill</button>
        }
      </div>
    </div>
  </div>
</div>
