
<div class="container">

    <div class="item-categories">
      <p class="categories-title">Categories</p>
      <div class="categories">
      <display-list
        [categories]="categories()"
        [loading]="categoriesLoading()"
        (selectedCategoryEvent)="onSelectCategory($event)"
      />
      </div>
    </div>

    <div class="item-products">
      <div class="item-header-products">
        <div class="search-wrapper">
          <div class="search-container">
            <input
              type="text"
              placeholder="Пребарај продукт..."
              class="search-input"
            />
            <button mat-icon-button class="search-btn">
              <mat-icon class="search-icon">search</mat-icon>
            </button>
          </div>
        </div>
        <div class="products">
          @if (productCards().length || productsLoading()) {
          <ascend-display-cards
            [elements]="productCards()"
            [loading]="productsLoading()"
            (selectedCard)="onSelectCard($event)"
          />
          }@else {
          <p class="no-data-message">Нема продукти за оваа категорија</p>
          }
        </div>
      </div>
    </div>
    
    <div class="order-items-wrapper">
      <div class="table-items-container">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Code</th>
              <th>Qty</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            @for(item of tableItems(); track item.id; let idx = $index) 
            { 
              @if (item.note !== null && item.note !== '') {
                <tr class="noted-row">
                  <td>{{ item.product.name }}</td>
                  <td>{{ item.product.code }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.totalPrice }}</td>
                </tr>
                } @else {
                <tr>
                  <td>{{ item.product.name }}</td>
                  <td>{{ item.product.code }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.totalPrice }}</td>
                </tr>
              }

              @if (item.note !== null && item.note !== '') {
                <tr class="note-row" *ngIf="item.note !== null && item.note !== ''">
                  <td class="note text-muted" colspan="4">
                      <span class="note-text">
                        <mat-icon class="note-icon">sticky_note_2</mat-icon>
                        <p>{{ item.note }}</p>
                      </span>
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
      </div>
      <div class="footer">
        <div class="total-price-container">
          <div>
            <span class="total-label">Вкупно</span>
            <span class="price-info"
              >(ставки: {{ totalItems() }} количина:
              {{ totalQuantity() }})</span
            >
          </div>
          <div>
            <span class="total-price"
              >{{ this.totalPrice() }} <span class="type">MKD</span></span
            >
          </div>
        </div>
        <div class="transaction-container">
          <button class="cash-btn">Кеш</button>
          <button class="card-btn">Картичка</button>
          <button>Оделно плаќање</button>
        </div>
      </div>
    </div>

</div>
