<div class="wrapper">
  <!-- <div class="item-categories">
        <display-list [categories]="categories()" (selectedCategoryEvent)="onSelectCategory($event)" />
    </div> -->
  <div class="container">
    <!-- <div class="item item-products">
            <div class="item-header-products">
                <div class="search-wrapper">
                    <div class="search-container">
                        <input type="text" placeholder="Пребарај продукт..." class="search-input">
                        <button mat-icon-button class="search-btn">
                        <mat-icon class="search-icon">search</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="products">
                    @if (productCards().length) {
                        <ascend-display-cards  [elements]="productCards()" (selectedId)="onSelectProduct($event)" />
                    }@else {
                        <p class="no-data-message">Нема продукти за оваа категорија</p>
                    }
                </div>
            </div>
        </div> -->

    <div class="item-categories">
      <display-list
        [categories]="categories()"
        (selectedCategoryEvent)="onSelectCategory($event)"
      />
    </div>
    <div class="item-products">
      <div class="item-header-products">
        <div class="search-wrapper">
          <div class="search-container">
            <input
              type="text"
              placeholder="Пребарај продукт..."
              class="search-input"
            />
            <button mat-icon-button class="search-btn">
              <mat-icon class="search-icon">search</mat-icon>
            </button>
          </div>
        </div>
        <div class="products">
          @if (productCards().length) {
          <ascend-display-cards
            [elements]="productCards()"
            (selectedId)="onSelectProduct($event)"
          />
          }@else {
          <p class="no-data-message">Нема продукти за оваа категорија</p>
          }
        </div>
      </div>
    </div>

    <div class="order-items-wrapper">
      <div class="table-items-container">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Code</th>
              <th>Qty</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            @for(item of tableItems(); track item.id; let idx = $index) { @if
            (idx === 0) {
            <tr class="noted-row">
              <td>{{ item.product.name }}</td>
              <td>{{ item.product.code }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.totalPrice }}</td>
            </tr>
            } @else {
            <tr>
              <td>{{ item.product.name }}</td>
              <td>{{ item.product.code }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.totalPrice }}</td>
            </tr>
            } @if (idx == 0) {
            <tr class="note-row">
              <td class="note text-muted" colspan="4">
                <div class="note-text">
                  <span
                    ><mat-icon>sticky_note_2</mat-icon> Bez majonez i kromid,
                    dodadi bukovic i origano</span
                  >
                </div>
              </td>
            </tr>
            }@else {
            <tr class="note-row"></tr>
            } }
          </tbody>
        </table>
      </div>
      <!-- <div class="order-item-list-wrapper">
                    <ul class="order-items-list">
                        @for (item of tableItems(); track item.id) {
                            <li>
                                <div class="order-item-container">
                                    <span class="order-item-title order-item-text-bold">{{ item.product.name }}</span>
                                    <div class="order-per-and-total-price">
                                        <div class="order-item-price-per-item">
                                            <span class="order-item-text-bold">{{ item.quantity }}.00</span>
                                            <span>&nbsp; X &nbsp;</span>
                                            <span>{{ item.product.price }} MKD</span>
                                        </div>
                                        <div class="order-item-total-price">
                                            <span class="order-item-text-bold">{{ item.totalPrice }} MKD</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div> -->
      <div class="footer">
        <div class="total-price-container">
          <div>
            <span class="total-label">Вкупно</span>
            <span class="price-info"
              >(ставки: {{ totalItems() }} количина:
              {{ totalQuantity() }})</span
            >
          </div>
          <div>
            <span class="total-price"
              >{{ this.totalPrice() }} <span class="type">MKD</span></span
            >
          </div>
        </div>
        <div class="transaction-container">
          <button class="cash-btn">Кеш</button>
          <button class="card-btn">Картичка</button>
          <button>Оделно плаќање</button>
        </div>
      </div>
    </div>
  </div>
</div>
