<mat-nav-list class="sidenav-items">
    <div class="top-nav">
        <a mat-list-item class="menu-item" (click)="onCollapse()">
            <mat-icon matListItemIcon>menu</mat-icon>
        </a>
           @for (item of menuItems(); track item.icon) {
               <a mat-list-item
                  [routerLink]="item.route"
                  routerLinkActive="selected-menu-item"
                  #rla="routerLinkActive"
                  [activated]="rla.isActive"
                  class="menu-item">
                   <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                   @if (!sideNavCollapsed()){
                       <span matListItemTitle>{{ item.label | translate }}</span>
                   }
               </a>
           }
    </div>

    <div class="bottom-nav">
        <ascend-country-select class="select-country"/>
    </div>
</mat-nav-list>