<mat-nav-list class="sidenav-items">
    <div class="top-nav">
        <div class="hamburger-container">
            <a mat-list-item class="menu-item hamburger-icon" (click)="onCollapse()" [ngClass]="{ 'right-align': !sideNavCollapsed() }">
              <mat-icon matListItemIcon>
                {{ sideNavCollapsed() ? 'menu' : 'menu_open' }}
              </mat-icon>
            </a>
        </div>
          
  
      @for (item of menuItems(); track item.icon) {
        <a mat-list-item
           [routerLink]="item.route"
           routerLinkActive="selected-menu-item"
           #rla="routerLinkActive"
           [activated]="rla.isActive"
           class="menu-item">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          @if (!sideNavCollapsed()) {
            <span matListItemTitle>{{ item.label | translate }}</span>
          }
        </a>
      }
    </div>
  
    <div class="bottom-nav">
      <a mat-list-item class="menu-item" (click)="logout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        @if (!sideNavCollapsed()) {
          <span matListItemTitle>{{ 'navbar-items.logout' | translate }}</span>
        }
      </a>
    </div>
  </mat-nav-list>
  