$color-primary: #6c63ff;
$color-primary-hover: #5b54e6;
$color-primary-active: #4f48cc;
$color-primary-light: #eeedff;
$color-on-primary: #ffffff;

$white-color: #ffffff;
$primary-font-color: #737387;

$title-font-size: 1.6rem;