<div class="btn-group">
  <!-- <ascend-button type="secondary" icon="save" />   -->
  <ascend-button
    type="primary"
    label="staff.add-role-btn"
    (clickEvent)="onAddRole()"
  />
</div>

<div class="role-permissions">
  <div class="roles">
    <div class="roles-header">
        <span>Улоги</span>
        <span class="counter">{{ roles().length }}</span>
        
    </div>
    <ul>
      @for (role of roles(); track role.id) {
      <li (click)="onSelectRole(role)"
          [ngClass]="{'active-role': selectedRole()?.id === role.id}"
      >
      <span>{{ role.name }}</span>
      @if (selectedRole()?.id === role.id) {
        <mat-icon class="trash-btn">delete</mat-icon>
      }
    </li>
      }
    </ul>
  </div>
  <div class="permissions">
    <table>
        <thead>
            <tr>
                <th class="permissions-header">
                    Permissions > {{ selectedRole()?.name }}
                </th>
                <th class="cell-align-center">
                    View
                </th>
                <th class="cell-align-center">
                    Add
                </th>
                <th class="cell-align-center">
                    Edit
                </th>
                <th class="cell-align-center">
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
                <!-- <tr>
                    <td>Tables</td>
                    <td class="cell-align-center"><mat-checkbox [value]="'0'" [checked]=""/></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                </tr>
                <tr>
                    <td>Products</td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                </tr>
                <tr>
                    <td>Categories</td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                </tr>
                <tr>
                    <td>Staff</td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                </tr>
                <tr>
                    <td>Roles</td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                </tr>
                <tr>
                    <td>Locations</td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                </tr>
                <tr>
                    <td>Revenue</td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                </tr>
                <tr>
                    <td>Reports & Analysis</td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                </tr>
                <tr>
                    <td>Stock</td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                    <td class="cell-align-center"><mat-checkbox /></td>
                </tr>  -->
                <!-- <div *ngFor="let category of Object.keys(groupedPermissions)">
                    <h3>{{ category }}</h3>
                    <ul>
                      <li *ngFor="let permission of groupedPermissions[category]">
                        {{ permission.name }}
                      </li>
                    </ul>
                  </div> -->
                  @for (permissionGroup of objectKeys; track permissionGroup) {
                    <tr>
                        <td>{{ permissionGroup }}</td>
                        <td class="cell-align-center">
                            <mat-checkbox [checked]="hasPermission(permissionGroup, 'all')"></mat-checkbox>
                        </td>
                        <td class="cell-align-center">
                            <mat-checkbox [checked]="hasPermission(permissionGroup, 'create')"></mat-checkbox>
                        </td>
                        <td class="cell-align-center">
                            <mat-checkbox [checked]="hasPermission(permissionGroup, 'update')"></mat-checkbox>
                        </td>
                        <td class="cell-align-center">
                            <mat-checkbox [checked]="hasPermission(permissionGroup, 'delete')"></mat-checkbox>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
  </div>
</div>
