<!-- <div class="btn-group">
  <ascend-button
    type="primary"
    label="staff.add-role-btn"
    (clickEvent)="onAddRole()"
  />
</div> -->


<div class="update-buttons" [style.visibility]="updatedPermissions.length ? 'visible' : 'hidden'" >
    <ascend-button type="secondary" label="Reset" icon="undo" class="reset-btn" (clickEvent)="onReset()"/>
    <ascend-button
      (clickEvent)="onUpdatePermissions()"
      class="update-btn"
      type="primary" 
      label="Save" 
      icon="save" 
      [style.visibility]="updatedPermissions.length ? 'visible' : 'hidden'" 
    />
</div>

<div class="role-permissions">
  <div class="roles">
    <div class="roles-header">
        <div>
            <span>Улоги</span>
            <span class="counter">{{ roles().length }}</span>
        </div>
        <ascend-button
        type="primary"
        label="staff.add-role-btn"
        (clickEvent)="onAddRole()"
      />
        
    </div>
    <ul>
      @if (toggleAddRole()) {
        <li>
            <form [formGroup]="roleForm" class="add-element">
                <ascend-input-field formControlName="name" [autoFocus]="true" />
                <ascend-button type="secondary" label="Додади" class="submit-add-btn" (clickEvent)="onSubmitRole()" />
            </form>
        </li>
      }
      @for (role of roles(); track role.id) {
      <li (click)="onSelectRole(role)"
          [ngClass]="{'active-role': selectedRole()?.id === role.id}"
      >
      <span>{{ role.name }}</span>
      @if (selectedRole()?.id === role.id) {
        <div>
          <mat-icon class="edit-btn" (click)="onDelete(role.id)">edit</mat-icon>
          <mat-icon class="trash-btn" (click)="onDelete(role.id)">delete</mat-icon>
        </div>
      }
    </li>
      }
    </ul>
  </div>
  <div class="permissions">
    <table>
        <thead>
            <tr>
                <th class="permissions-header">
                    Permissions > {{ selectedRole()?.name }}
                </th>
                <th class="cell-align-center">
                    View
                </th>
                <th class="cell-align-center">
                    Add
                </th>
                <th class="cell-align-center">
                    Edit
                </th>
                <th class="cell-align-center">
                    Delete
                </th>
                <th class="cell-align-center">
                    All
                </th>
            </tr>
        </thead>
        <tbody>
                @for (permissionGroup of groupedPermissions(); track permissionGroup.groupName){
                  <tr>
                    <td>{{ permissionGroup.groupName }}</td>
                    @for (permission of permissionGroup.permissions; track permission.id) {
                      <td class="cell-align-center">
                        <mat-checkbox #checkbox  [checked]="hasPermission(permission)" [value]="permission.id.toString()" (change)="onChangeCheckbox($event, permission)"></mat-checkbox>
                      </td>
                    }
                    <td class="cell-align-center">
                      <mat-checkbox (change)="onSelectAll($event, permissionGroup)"/>
                    </td>
                  </tr>
                }
               
        </tbody>
    </table>
  </div>
</div>
