<h2 mat-dialog-title>Add Location</h2>
<form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Location Name</mat-label>
    <input matInput formControlName="name" placeholder="Enter location name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Table Count</mat-label>
    <input matInput type="number" formControlName="tableCounts" min="0" />
  </mat-form-field>

  <div class="dialog-actions">
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- <button mat-flat-button color="primary" type="submit" [disabled]="locationForm.invalid">
      Save
    </button> -->
    <ascend-button type="primary" label="Save" [disabled]="locationForm.invalid"/>
  </div>
</form>
