<h2 mat-dialog-title class="dialog-title">Update Location</h2>
<form [formGroup]="locationForm" (ngSubmit)="onSubmit()" class="dialog-form">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Location Name</mat-label>
    <input matInput formControlName="name" placeholder="Enter location name" />
  </mat-form-field>

  <div class="actions">
    @if (data) {
        <mat-icon class="trash-btn" (click)="onDelete()">delete</mat-icon>
      }
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
    <ascend-button type="primary" label="Ажурирај" [disabled]="locationForm.invalid"/>
  </div>
</form>
