$card-min-width: 180px;

.cards-grid {
  display: grid;
  width: 100%;
  gap: 1rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax($card-min-width, 1fr));
}
