@if (loading()) {
    <ascend-skeleton-card [numberOfCards]="7" />
} @else {
    <div class="wrapper">
    <div class="cards-grid">
        @for(element of elements(); track element.id){
            <div class="card-container">
                <button class="test-card" type="button" (click)="onSelect(element.id)">
                    <img
                        [src]="element.image && element.image.trim() !== '' ? 'http://localhost:5073' + element.image : 'assets/images/no-image-icon.png'"
                        [alt]="element.description || element.title"
                    >
                </button>
                <div class="card-label">
                    <span class="label">{{ element.title }}</span>
                </div>
            </div>
        }
    </div>
    </div>
}
