<div class="cards">
    @for(element of elements(); track element.id){
        <mat-card class="card" appearance="outlined" (click)="onSelect(element.id)">
            <img mat-card-image [src]="element.image ?? 'assets/images/no-image-icon.png'" [alt]="element.description">
            <mat-card-header>
                <mat-card-title><span class="title">{{ element.title }}</span></mat-card-title>
                @if (element.description) {
                    <mat-card-subtitle>{{ element.description }}</mat-card-subtitle>
                }
              </mat-card-header>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
    }
</div>