* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 700px; 
    width: 100%;
    // border-radius: 10px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container {
    padding-top: 3em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.3rem;
}

.login-container button {
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    // border: none;
    // border-radius: 5px;
    // background-color: #4CAF50;
    // color: white;
    cursor: pointer;
}

.login-container button:hover {
    // background-color: #45a049;
}

.error-container {
  background-color: #e30b5c;
      box-shadow: #e30b5c 0px 5px 15px;

  width: 100%;
  display: flex;
  align-items: center; // vertically center
  padding: 0.5em;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 1.5em;

  // target both your class *and* the .mat-icon host class
  .error-icon.mat-icon {
    font-size: 2.5rem !important; // override defaults
    width: 2.5rem !important; // for SVG icons
    height: 2.5rem !important;
    color: #fff;
    margin-right: 0.5rem;
  }

  .error-message {
    color: #fff;
    font-size: 1.2rem;
  }

  .close-btn {
    color: #fff;
    background-color: #c80815;
    padding: 2px;
    border-radius: 50%;
    transform: scale(0.7);
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
  }
}