<div class="wrapper">
    <div class="container">
        <div class="logo-container">
            <img src="assets/images/logo.png" alt="Logo">
        </div>
        <form [formGroup]="pinEntryForm" class="login-container">
            <input type="password" autofocus formControlName="pin" tabindex="1"  (focus)="onFocus()" (keydown.tab)="onTab($event)" (mouseleave)="onTab($event)" >
            <button type="submit" (click)="onSubmit()" hidden="true">Submit</button>
        </form>
    </div>
</div>
