.container {
    margin-top: 1em;
    // position: relative;
    // max-width: 1000px;
    // height: 100vh;
    // border: 2px dashed #ccc;
    // overflow: hidden; 
  }
  
  .table {
    position: absolute;
    width: 120px;
    height: 100px;
    background-color: #ffcc00;
    text-align: center;
    // line-height: 80px;
    border-radius: 10px;
    cursor: grab;
    //transition: transform 0.1s ease-in-out; 
    will-change: transform;
    transform: translate3d(0, 0, 0);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    span {
      color: #fff;
    }
  }
  
  .available {
    background-color: #ace1af !important;
  }
  .occupied {
    background-color: #FF9999 !important;
    color: #ffffff;
  }


  .available-status {
    background-color: #1cac78;
  }

  .occupied-status {
    background-color: #ff5f1f;
  }

  .status {
    padding: 0.3em;
    border-radius: 10px;
  }


  .update-buttons {
    margin-bottom: 1em;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100px;
    .update-btn, .reset-btn {
        padding: .5em;
        // display: flex;
        // align-items: center;
    }
}  