// @import 'colors';

.custom-snackbar {
    display: flex;
    align-items: center;
}

.snackbar-icon {
    padding-right: 1em;
    transform: scale(1.1);
}

.close-btn {
    margin-left: auto;
    border: 0;
    background-color: transparent;
    color: #fff;
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;

    mat-icon {
        font-size: 20px;
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
}


