<div class="settings-container page-padding">
  <header class="settings-header">
    <h2 class="title">{{ 'settings.site-settings' | translate }}</h2>
  </header>

  <div class="settings-body">
    <nav class="sidebar">
      <ul>
        @for (item of visibleMenuItems(); track item) {
          <li (click)="setActive(item)" [class.active]="item === selectedItem()">
            {{ item }}
          </li>
        }
      </ul>
    </nav>

    <section class="content">
        @if (selectedItem() == 'Business Profile'){
          <settings-business-profile></settings-business-profile>
        }
        @if (selectedItem() == 'Taxes') {
            <settings-taxes></settings-taxes>
        }
        @if (selectedItem() == 'Discounts') {
            <settings-discounts></settings-discounts>
        }
        @if (selectedItem() == 'Organization Display'){
            <settings-organization-display></settings-organization-display>
        }
        @if (selectedItem() == 'User Display') {
            <settings-staff-preferences></settings-staff-preferences>
        }
        @if (selectedItem() == 'Tax Compliance') {
            <settings-tax-compliance></settings-tax-compliance>
        }
    </section>
  </div>
</div>
