<div class="settings-container page-padding">
  <header class="settings-header">
    <h2 class="title">{{ 'settings.site-settings' | translate }}</h2>
  </header>

  <div class="settings-body">
    <nav class="sidebar">
      <ul>
        @for (item of visibleMenuItems(); track item) {
          <li (click)="setActive(item)" [class.active]="item === selectedItem()">
            {{ item }}
          </li>
        }
      </ul>
    </nav>


    <section class="content">
      @switch (selectedItem()) {
                @case ('Business Profile') {
          <settings-business-profile></settings-business-profile>
        }
                @case ('Taxes') {
                  
          <settings-taxes></settings-taxes>
        }
                @case ('Discounts') {
          <settings-discounts></settings-discounts>
        }
               @case ('Organization Display') {
          <settings-organization-display></settings-organization-display>
        }
               @case ('User Display') {
          <settings-staff-preferences></settings-staff-preferences>
        }
        @default {

        <h1>default?</h1>
        }
      }
    </section>
  </div>
</div>
