<div class="settings-container page-padding">
  <header class="settings-header">
    <h2 class="title">{{ 'settings.site-settings' | translate }}</h2>
  </header>

  <div class="settings-body">
    <nav class="sidebar">
      <ul>
        <li
          *ngFor="let item of menuItems"
          (click)="setActive(item)"
          [class.active]="item === activeItem">
          {{ item }}
        </li>
      </ul>
    </nav>

    <section class="content">
        @if (activeItem == 'Business Profile'){
          <settings-business-profile />
        }
        @if (activeItem == 'Taxes') {
            <settings-taxes />
        }
        @if (activeItem == 'Discounts') {
            <settings-discounts />
        }
        @if (activeItem == 'Organization Display'){
            <settings-organization-display />
        }
        @if (activeItem == 'User Display') {
            <settings-staff-preferences />
        }
        @if (activeItem == 'Tax Compliance') {
            <settings-tax-compliance />
        }
    </section>
  </div>
</div>
