<div class="container">
  <div class="cards-container">
    <div class="cards-header">
      <div class="left-part">
        <span class="title">Category Groups</span>
          <ascend-header-counter [value]="categoryGroupCards().length" />
      </div>
      <div class="right-part">
        <button
          mat-fab
          extended
          color="ascend"
          class="add-btn"
          (click)="onAddCategoryGroup($event)"
        >
          <mat-icon>add</mat-icon>
          Group
        </button>

        <ascend-search-bar (onSearchTerm)="onSearchCategoryGroup($event)"  />
      </div>
    </div>
    @if (categoryGroupCards().length) {
      <ascend-display-cards
      [loading]="categoryGroupLoading()"
      (selectedCard)="onUpdateCategoryGroup($event)"
      [elements]="categoryGroupCards()"
    />
    } @else {
      <p class="no-data-message">No category groups have been found</p>
    }
  </div>
</div>