<div class="container">
  <div class="cards-container">
    <div class="cards-header">
      <div class="left-part">
        <span class="title">{{ 'menu.category-groups.category-groups' | translate }}</span>
        <ascend-header-counter [value]="categoryGroupCards().length" />
      </div>
      <div class="right-part">
        @if (canCreate()){
          <button
            mat-fab
            extended
            color="ascend"
            class="add-btn"
            (click)="onAddCategoryGroup($event)"
          >
            <mat-icon>add</mat-icon>
            {{ 'menu.category-groups.group' | translate }}
          </button>         
        }
        <ascend-search-bar (onSearchTerm)="onSearchCategoryGroup($event)"  />
      </div>
    </div>
    @if (categoryGroupCards().length) {
      <ascend-display-cards
        [loading]="categoryGroupLoading()"
        (selectedCard)="onUpdateCategoryGroup($event)"
        [elements]="categoryGroupCards()"
    />
    } @else {
      <p class="no-data-message">{{ 'menu.category-groups.no-category-groups-found' | translate }}</p>
    }
  </div>
</div>