<!-- <mat-toolbar class="mat-elevation-z2">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>
    <ascend-country-select class="select-country"/>
</mat-toolbar> -->

@if (breakpointService.isMobile()) {
    @if (collapsed()) {
    <button type="button" mat-icon-button class="mobile-menu-btn" (click)="onCollapseMobile()">
        <mat-icon>menu</mat-icon>
    </button>  
    }
    <mat-sidenav-container>
        <mat-sidenav opened mode="side" [style.width]="mobileSidenavWidth()">
            <ascend-custom-navbar [collapsed]="collapsed()" (collapseEvent)="onCollapse($event)" />
        </mat-sidenav>
        <mat-sidenav-content [style.margin-left]="'0px'">
            <div class="content-wrapper" [ngClass]="{'content-wrapper-padding': tableView() == 'drag'}">
                <router-outlet />
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
}
@else {  
<mat-sidenav-container>
    <button type="button" mat-icon-button>menu</button>
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <ascend-custom-navbar [collapsed]="collapsed()" (collapseEvent)="onCollapse($event)" />
    </mat-sidenav>
    <mat-sidenav-content [style.margin-left]="sidenavWidth()">
        <div [ngClass]="{'content-wrapper': tableView() != 'drag', 'content-wrapper-drag-view': tableView() == 'drag'}">
            <router-outlet />
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> 
}
