<div class="tabs-wrapper">
  <mat-tab-group>
  <mat-tab [label]="'menu.tab-title-products' | translate">
    <div class="content-wrapper">
      <products-component />
    </div>
  </mat-tab>
  <mat-tab [label]="'menu.tab-title-categories' | translate">
    <div class="content-wrapper">
      <categories-component />
    </div>
  </mat-tab>
    <mat-tab [label]="'menu.tab-title-categorygroups' | translate">
    <div class="content-wrapper">
      <category-groups-component />
    </div>
  </mat-tab>
</mat-tab-group>
</div>