<div class="wrapper">
  <div class="table-header">
    <div class="left-part">
      <span class="title">{{ title() }}</span>
      <ascend-header-counter [value]="dataRows().length" />
    </div>
    <div class="filters">
      @if (hasAddBtn()) {
      <ascend-button
        type="primary"
        [label]="'shared.add' | translate"
        class="add-btn"
        (clickEvent)="onAddClick()"
      />
      } @if (hasSearchBar()) {
      <ascend-search-bar (onSearchTerm)="onSearch($event)" />
      }
    </div>
  </div>
  <table>
    <thead>
      <tr>
        @for (col of displayedColumns(); track col) {
        <th (click)="onSort(col)">
          <div class="col-name">
            <span>{{ col | translate }}</span>
            <mat-icon
              [ngClass]="{ 'hidden-icon': clickedColumnHeader() !== col }"
            >
              @if (clickedColumnHeader() === col && currentSort() === 1) {
              arrow_upward_alt } @else if (clickedColumnHeader() === col &&
              currentSort() === 2) { arrow_downward_alt }
            </mat-icon>
          </div>
        </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of dataRows(); track row; let idx = $index) {
      <tr (click)="onRowClick(row.id)">
        @for (cell of getValues(row.properties); track idx; let idx = $index){
        <td>{{ cell }}</td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
