<div class="table-header">
    <div class="left-part">
        <span class="title">{{ title() }}</span>
        <ascend-header-counter [value]="dataRows().length" />
    </div>
    <div class="filters">
        <ascend-button type="primary"  label="Додади" class="add-btn" (clickEvent)="onAddClick()"/>
        <ascend-search-bar />
    </div>
</div>
<table>
    <thead>
        <tr>
            @for (col of displayedColumns(); track col) {
                <th>{{ col }}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (row of dataRows(); track row) {
            <tr>
                @for (cell of getValues(row); track idx; let idx = $index){
                    <td>{{ cell }}</td>
                }
            </tr>
        }
    </tbody>
</table>