<ascend-loader [loading]="loading()" />

<h2 mat-dialog-title class="dialog-title">{{ this.title() }}</h2>

<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="dialog-form">
  <div class="form-inputs">
    <div>
      @if(errorMessages().includes('name.exists')) {
      <div class="error-message">
        <mat-icon>error</mat-icon>
        <span>{{ 'menu.categories.name-exists' | translate }}</span>
      </div>
      }
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'menu.categories.name' | translate }}</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'menu.categories.description' | translate }}</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      @if (this.categoryGroups()) {
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'menu.categories.category-group' | translate }}</mat-label>
        <mat-select formControlName="selectedCategoryGroup">
          @for (group of this.categoryGroups(); track group.id) {
          <mat-option [value]="group.id" selected>{{ group.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      }
    </div>
    <div>
      <div class="full-width upload-container">
        <span>{{ 'menu.categories.image' | translate }}</span>
        <ascend-upload-image
          (uploadEvent)="onUpload($event)"
          [imageUrl]="
            imageUrl() && imageUrl()?.trim() !== ''
              ? 'http://localhost:5073' + imageUrl()
              : null
          "
        />
      </div>
    </div>
  </div>
  
  <div class="actions">
    @if (isUpdateDialog()) {
    <button
      type="button"
      mat-icon-button
      color="warn"
      [ariaLabel]="'shared.delete-item' | translate"
      class="trash-btn"
      (click)="onDelete()"
    >
      <mat-icon>delete</mat-icon>
    </button>
    }
    <button mat-button type="button" (click)="dialogRef.close()">{{ 'shared.discard' | translate }}</button>
    <ascend-button
      type="primary"
      [label]="submitBtnLabel()"
      [disabled]="categoryForm.invalid"
    />
  </div>
</form>
