@if (isCollapsed()){
    <div class="collapsed-list">
        <mat-icon class="collapse-icon expand-icon" (click)="onCollapse()">
            open_in_full
        </mat-icon>
    </div>
}@else {
    <ul class="category-list">
        <li class="header-li">
            @if (setAddButton()) {
                <button mat-fab extended color="ascend" class="add-category-btn" (click)="onAdd()">
                    <mat-icon>add</mat-icon>
                    {{ addButtonLabel() }}
                </button>

                <mat-icon class="collapse-icon" (click)="onCollapse()">
                    arrow_back_ios_new
                </mat-icon>
            }
        </li>
        @if (setSelectAllButton()) {
            <li (click)="onSelect(null)" class="category-element" [style.--border-color]="getBorderColor(0)">
                <span [ngClass]="{'selected-title': selectedId() === null}">{{ selectAllButtonLabel() }}</span>
            </li>
        }
        @for (element of elements(); track element.id; let index = $index) {
            <li (click)="onSelect(element.id)" class="category-element"
                [style.border-left]=" '10px solid ' + getBorderColor(index) "
                [style.--border-color]="getBorderColor(index)">
                <div class="li-content">
                    <span [ngClass]="{'selected-title': selectedId() === element.id}">{{ element.title }}</span>
                    @if (selectedId() === element.id && setDeleteButton()) {
                        <mat-icon class="trash-btn" (click)="onDelete(element.id)">delete</mat-icon>
                    }
                </div>
            </li>  
        }
        @if (!elements().length && noDataLabel()) {
            <li><span class="no-data-label">{{ noDataLabel() }}</span></li>
        } 
    </ul>
}

