  .grid-container {
    // display: grid;
    // gap: 10px;
    // grid-template-columns: repeat(
    //   auto-fill,
    //   minmax(200px, 1fr)
    // );
    display: grid;
    gap: 10px;
    width: 100%;
    margin: 20px auto;
    grid-template-columns: 1fr;  // normalni telefoni

    @media (min-width: 481px) AND (max-width: 768px) {   // golemi telefoni i mali tabletcinja
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 769px) AND (max-width: 999px) {  // tableti
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1000px) AND (max-width: 1480px) {  // laptopi, desktopi
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1481px) {  // golemi desktopi
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .table-name {
      font-size: 1.2rem;
  }

  .available {
    background-color: #ace1af !important;
  }
  .occupied {
    background-color: #FF9999 !important;
    color: #ffffff;
  }
  .reserved {
    background-color: #f1f5fc !important;
  }

  .status {
    padding: 0.3em;
    border-radius: 10px;
  }

  .available-status {
    background-color: #1cac78;
  }

  .occupied-status {
    background-color: #ff5f1f;
  }

 
.grid-item {
  height: 220px;
  cursor: pointer;
}

.grid-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px 8px 10px;
  .flex {
    display: flex;
    align-items: center;
  }
  ul {
    list-style: none;
    width: 100%;
    li {
      padding-bottom: 10px;
    }
    .plus-items {
      padding-left: 5px;
    }
  }
}

.row-header {
  font-size: .9rem;
  font-weight: bold;
}

.item-occupied {
  border: 2px solid #FF9999;
}
.item-available {
  border: 2px solid #ace1af;
}
.header-occupied {
  background-color: #FF9999;
}
.header-available {
  background-color: #ace1af;
}
.status-occupied {
  background-color: #FF9999 !important;
  color: #ffffff;
  padding: 8px;
  border-radius: 20px;
}
.status-available {
  background-color: #ace1af !important;
  color: #ffffff;
  padding: 8px;
  border-radius: 20px;  
}

.light-font {
 color: #737387;
}