<div class="quantity-dialog-container">
<ascend-loader [loading]="isLoading()" />

  <h2 class="quantity-dialog-title">{{ data.title }}</h2>

  <form [formGroup]="itemForm">
    <mat-form-field appearance="outline" class="quantity-dialog-content full-width">
      <mat-label>{{ quantityLabel()  }}</mat-label>
      <input
        #qtyInput
        matInput
        type="number"
        formControlName="quantity"
        (keydown.enter)="onSubmit()"
        min="1"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="quantity-dialog-content full-width">
      <mat-label>{{ noteLabel() }}</mat-label>
      <textarea
        #qtyInput
        matInput
        type="text"
        formControlName="note"
        (keydown.enter)="onSubmit()"
      ></textarea>
    </mat-form-field>

    @if (data.id) {
      <div class="dialog-actions" mat-dialog-actions>
        <button mat-icon-button
                color="warn" 
                [ariaLabel]="'shared.delete-item | translate'"
                (click)="onDelete()">
           <mat-icon>delete</mat-icon>
        </button>
  
        <div>
          <button mat-stroked-button color="warn" (click)="dialogRef.close()">{{ cancelLabel() }}</button>
          <button mat-flat-button color="primary" class="custom-color" (click)="onSubmit()">{{ submitLabel() }}</button>
        </div>
      </div>       
    } @else {
      <div class="dialog-actions-del" mat-dialog-actions>
        <button mat-icon-button
                type="button"
                color="warn" 
                [ariaLabel]="'shared.delete-item | translate'"
                (click)="onDelete()">
           <mat-icon>delete</mat-icon>
        </button>
  
        <div>
          <button mat-stroked-button color="warn" (click)="dialogRef.close()">{{ cancelLabel() }}</button>
          <button mat-flat-button color="primary" class="custom-color" (click)="onSubmit()">{{ submitLabel() }}</button>
        </div>
      </div>    
    }
  </form>
</div>
