@use '@angular/material' as mat;

.mat-mdc-form-field-appearance-outline .mat-mdc-form-field-outline {
  color: red !important; /* Changes the outline color */
}

/* For focused state */
.mat-mdc-form-field-appearance-outline.mat-focused .mat-mdc-form-field-outline {
  color: red !important;
}

/* For error state */
.mat-mdc-form-field-appearance-outline.mat-form-field-invalid .mat-mdc-form-field-outline {
  color: red !important; /* Example for error color */
}


.quantity-dialog-container {
    padding: 20px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .quantity-dialog-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .quantity-dialog-content {
    margin-bottom: 20px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .dialog-actions-update {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .dialog-actions {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px; 
  }

  .custom-color{
    background-color: #89AC46 !important;
    margin-left: 1em;
  }