<ascend-loader [loading]="loading()" />
<div class="page-container">
<div class="languages">
    <ascend-country-select />
</div>

<div class="wrapper">
    <div class="logo-container">
        <img src="assets/images/logo.png" />
    </div>
    <div class="login-container">
        <form [formGroup]="loginForm" class="credentials-container">
            @if (errorKey) {
                            <div class="error-container">
                <mat-icon class="error-icon">error</mat-icon>
                <p class="error-message">Invalid Credentials</p>
                <mat-icon class="close-btn" (click)="onCloseErrorMessage()">close</mat-icon>
            </div>
            }

            <div class="input-group">
                <ascend-input-field [type]="'text'"
                                    [placeholder]="'auth.username'"
                                    [autoFocus]="true"
                                    [hasError]="getUsernameControl().invalid && formSubmitted"
                                    formControlName="username"
                                    (blurEvent)="onEmailBlur()" />
            </div>
            <div class="input-group">
                <input type="password"
                       formControlName="password"
                       [placeholder]= '"auth.password" | translate'
                       [ngClass]="{'error-input': getPasswordControl().invalid && formSubmitted}">
            </div>
            @if (locations().length > 0) {
                <!-- <select>
                    @for (location of locations(); track location.id; let index = $index) {
                        <option [value]="location.id" [selected]="index === 0">{{ location.name }}</option>
                    }
                </select> -->

                <mat-form-field>
                    <mat-label>{{ 'auth.location' | translate }}</mat-label>
                    <mat-select matNativeControl formControlName="location">
                      @for (location of locations(); track location) {
                        <mat-option [value]="location.id" >{{ location.name }}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                  
            }@else {
                <p>0 locations</p>
            }
            <button type="submit" (click)="onSubmit()" class="submit-btn">{{ 'auth.login' | translate }}</button>
        </form>
    </div>    
</div>
</div>