<div class="dialog-container">
  
    <div class="products">
      <div class="products-header">
        <h3 class="title">Маса 2</h3>
      </div>

      <!-- <tables-order-items [tableItems]="tableItems()"/> -->

      <div class="product-list-footer">
          <div class="price-label">
            Вкупно: {{ table.totalPrice }}
          </div>
          <div>
            <button class="delete-order-btn">Избриши нарачка</button>
          </div>
      </div>

    </div>

    <div class="orders">
      <display-products (activeProduct)="onActiveProduct($event)" />
    </div>

    <div class="footer">
      <button class="primary-btn">Сметка</button> <!-- Add these classes to global file -->
      <button class="default-btn">Откажи</button>
    </div>
  </div>