<div class="dialog-container">
  
    <div class="products">
      <div class="products-header">
        <h3 class="title">{{ table.code }}</h3>
      </div>

      <!-- <tables-order-items [tableItems]="tableItems()"/> -->

      <div class="product-list-footer">
          <div class="price-label">
            {{ 'ordered-items.total' | translate }}: {{ table.totalPrice }}
          </div>
          <div>
            <button class="delete-order-btn">{{ 'tables.delete-order' | translate }}</button>
          </div>
      </div>

    </div>

    <!-- <div class="orders">
      <display-products (activeProduct)="onActiveProduct($event)" />
    </div> -->

    <div class="footer">
      <button class="primary-btn">{{ 'tables.receipt' | translate }}</button>
      <button class="default-btn">{{ 'shared.cancel' | translate }}</button>
    </div>
  </div>
