<div class="tabs-wrapper page-padding">
  <mat-tab-group>
  @if (canViewPersonal) {
  <mat-tab [label]="'staff.tab-title-staff' | translate">
    <div class="content-wrapper">
      <ng-template matTabContent>
        <personal-component />
      </ng-template>
    </div>
  </mat-tab>
  }
  @if (canViewRoles) {
  <mat-tab [label]="'staff.tab-title-roles' | translate">
    <div class="content-wrapper">
      <ng-template matTabContent>
        <roles-component />
      </ng-template>
    </div>
  </mat-tab>
  }
</mat-tab-group>
</div>