<table>
    <thead>
        <tr>
            @for (col of displayedColumns; track col) {
                <th>{{ col | translate }}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (row of dataSource(); track row.id) {
            <tr (click)="handleRowClick(row.id)">
                <td>{{ row.code }}</td>
                <td>
                    <span [ngClass]="{'available': row.status.toString() === 'Available',
                                      'occupied': row.status.toString() === 'Occupied' }">
                        {{ 'tables.status.' + row.status | translate }}
                    </span>
                </td>
                <td class="price">{{ row.totalPrice }} MKD</td>
                <td>
                    <button class="primary-button">
                        Сметка
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>