<div class="countries-wrapper">
  <div class="country-container" (click)="onToggleDropdown()">
    <div class="selected-country">
      <img
        [src]="'assets/images/countries/' + selectedLanguage + '.svg'"
        class="country-img"
      />
    </div>
  </div> 

  @if(isCountryListOpen()){
    <ul class="countries-list">
      @for(language of languages; track language; let index = $index){
      <li class="country-item" (click)="onSelectCountry(language)">
        <img
          [src]="'assets/images/countries/' + language + '.svg'"
          class="country-img"
        />
      </li>
      }
    </ul>
    }
</div>