.phone-container {
   // width: 55px;
    // border: 1px solid rgb(118, 118, 118);
    // padding: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    .country-container{
        cursor: pointer;
    }
    .selected-country{
        display: flex;
        align-items: center;
        .country-info{
            padding-left: .5em;
        }
        .dropdown-arrow{
            padding-left: .5em;
        }
    }
    .phone-input-container {
        display: flex;
        padding-left: .5em;
        .phone-input {
            outline: 0;
            font-size: 1.3rem;
            border: 0;
            background-color: inherit;
            color: #737387;
        }
        .prefix {
            font-size: 1.3rem;
            color: #737387;
            padding-bottom: 1.5px;
        }
    }
}

.countries-list {
    padding: 0;
    margin: 0;
    list-style: none;
    //width: 50px;
    //max-height: 300px;
    overflow-y: auto;
    background-color: #f4f6f8;
    display: flex;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .country-item{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: .2em;
        cursor: pointer;
        .country-info {
            padding-left: .5em;
        }  
    }
    .country-item:hover {
        background-color: #e2dede;
    }
    position: absolute;
    z-index: 100;
}

.country-img {
    width: 40px;
    height: 40px;
}

.invalid-phone {
  border-color: red;
}

.search-countries {
  background-color: inherit;
  width: 90%;
  font-size: 1rem;
  outline: 0;
  border: 0;
}

.search-item {
  padding: .5em;
  border-bottom: 1px solid #737387;
  position: relative;
}

.search-icon {
  position: absolute;
  right: 5%;
  top: 20%;
}

.countries-wrapper{
    display: flex;
    position: relative;
}